<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>javaweb1908190843</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>javaweb1908190843.Servlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetServlet</servlet-name>
		<servlet-class>javaweb1908190843.GetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetServlet</servlet-name>
		<servlet-class>javaweb1908190843.SetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>javaweb1908190843.ServletTest</servlet-class>
		<init-param>
			<param-name>1111</param-name>
			<param-value>initLver818</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.prac0010.l190820.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/Servlet1/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetServlet</servlet-name>
		<url-pattern>/GetServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetServlet</servlet-name>
		<url-pattern>/SetServlet.do/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/ServletTest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet/*</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>username</param-name>
		<param-value>OoyizhioO</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>8181006</param-value>
	</context-param>
	
	
	<servlet>
		<servlet-name>indexjsp</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		<init-param>
			<param-name>initParam</param-name>
			<param-value>initLverYu</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexjsp</servlet-name>
		<url-pattern>/index.jsp/*</url-pattern>
	</servlet-mapping>
	
</web-app>